<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 

<html xmlns="https://www.w3.org/1999/xhtml">
 <head>
<title>NetFoundry Email Signature</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" class="ng-scope">
<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body style="font-family:Verdana, Open Sans, Helvetica, sans-serif;">
<table style="font-family:Verdana, Open Sans, Helvetica, sans-serif;" cellpadding="0" cellspacing="0" class="ng-scope">
 <tbody>
  <tr>
   <td style="width:110px; padding-left:0;padding-right:5; font-family:Verdana; text-align:center; vertical-align:middle;" valign="middle" width="110">
    <img ng-if="showField('photo')" ng-src="http://www.evan-gertis.com/images/me_logo.png" alt="Photograph" width="90" height="90" border="0" style="width:90px; height:90px; border-radius:50px; border:0;" class="ng-scope" src="image/tech.jpg">
   </td>
   <td style="font-family:Open Sans; border-bottom:3px solid #f39913; padding:0; vertical-align:top;" valign="top">	
    <table style="font-family:Open Sans, Helvetica, sans-serif;" cellpadding="0" cellspacing="0">
     <tbody>
      <tr>
       <td style="font-family:Open Sans; padding-bottom:0px; padding-top:0; padding-left:0; padding-right:0; vertical-align:top;" valign="top">
        <strong><span style="font-family:Open Sans, Verdana; color:#f39913; font-size:12.5pt; font-weight: 700;" class="ng-binding">Yolanda Higgins</span></strong><br>
       </td>
       </tr>
       <tr>
       <td>
		   <span style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;" ng-if="showField('title')" class="ng-binding ng-scope">Full Stack Web Developer</span>
       </td>
       <tr>
       <td>
       <span style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;" ng-if="showField('title')" class="ng-binding ng-scope"></span></td>
      </tr>	
      <td>
        <span style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;" ng-if="showField('title')" class="ng-binding ng-scope"></span></td>
      </tr>
      <td>
        <span style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;" ng-if="showField('title')" class="ng-binding ng-scope"></span></td>
      </tr>	
      <td>
        <span style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;" ng-if="showField('title')" class="ng-binding ng-scope"></span></td>
      </tr>
      <tr ng-if="isAnyFieldEntered('email, mobile, phone')" class="ng-scope">     
       <td style="font-family:Open Sans; padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; line-height:18px; vertical-align:top; letter-spacing: 1..05;" valign="top">    
		  <span style="font-family:Open Sans, Verdana; font-size:9pt;font-weight: 600; color: rgb(101, 130, 146);" ng-if="showField('email')" class="ng-binding ng-scope">Email: <a href="mailto: evan.gertis@netfoundry.io" style="color:#f39913; text-decoration: none;">yoaddehi@gmail.com</a><br> 
		  </span><span style="font-family:Open Sans, Verdana; font-size:9pt;font-weight: 600;color: rgb(101, 130, 146);" ng-if="showField('phone')" class="ng-binding ng-scope">Phone: <a href="tel:1-585-944-4196"style="color:#f39913; text-decoration: none;">404-803-9999</a><br></span>
       </td>
      </tr>
     </tbody>
    </table> 								
   </td>	
  </tr>
  <tr>
   <td style="font-family:Verdana; width:120px; padding-top:6px; padding-left:0; padding-right:0; text-align:center; vertical-align:middle; font-size: 13px;" valign="middle" width="120">	
<!--<span ng-if="showField('twitterURL')" class="ng-scope"><a href="https://twitter.com/evangertis" target="_blank"><img border="0" width="16" height="16" ng-src="https://www.netfoundry.io/email/twitter.png" alt="Twitter icon" style="border:0; height:16px; width:16px" src="https://www.netfoundry.io/email/twitter.png"></a>&nbsp;</span>
	   
<span ng-if="showField('linkedinURL')" class="ng-scope"><a href="https://www.linkedin.com/in/egFertis/" target="_blank"><img border="0" height="16" width="16" ng-src="https://www.netfoundry.io/email/linkedin.png" alt="LinkedIn icon" style="border:0; height:16px; width:16px" src="https://www.netfoundry.io/email/linkedin.png"></a>&nbsp;</span>
	   
 <span ng-if="showField('youtubeURL')" class="ng-scope"><a href="https://www.youtube.com/channel/UCQzo_a3vg5q-Y4NJ4Sulceg" target="_blank"><img border="0" width="16" height="16" ng-src="https://www.netfoundry.io/email/youtube.png" alt="Facebook icon" style="border:0; height:16px; width:16px" src="https://www.netfoundry.io/email/youtube.png"></a></span>-->
	
   </td>
	  <td style="padding-top:6px; padding-bottom:0; padding-left:0; padding-right:0; color:#f39913;  font-family:russo one, Verdana; font-size:11pt;letter-spacing: 1.1; vertical-align:middle;" valign="middle">Yolanda Higgins&nbsp;&nbsp;<span style="color:#c4d1d6;">|</span>&nbsp;
    <a href="http://www.evan-gertis.com" target="_blank" style="color:#f39913;  font-family:russo one, Verdana; font-size:11pt;letter-spacing: 1.1;text-decoration: none;" class="ng-binding">www.yoaddehi.com</a>
   </td>
  </tr>
 </tbody>
</table>
</body>
</html>